<?xml version="1.0"?>

<config>
	<modules>
        <Securetrading_Multishipping>
            <version>3.3.4</version>
        </Securetrading_Multishipping>
    </modules>
	<adminhtml>
		<layout>
			<updates>
				<securetrading_multishipping module="Securetrading_Multishipping">
					<file>securetrading_multishipping.xml</file>
				</securetrading_multishipping>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<resources>
			<securetrading_multishipping>
			<setup>
				<module>Securetrading_Multishipping</module>
			</setup>
			</securetrading_multishipping>
		</resources>
		<blocks>
			<securetrading_multishipping>
				<class>Securetrading_Multishipping_Block</class>
			</securetrading_multishipping>
		</blocks>
		<helpers>
           <securetrading_multishipping>
                <class>Securetrading_Multishipping_Helper</class>
           </securetrading_multishipping>
		</helpers>
		<models>
			<securetrading_multishipping>
				<class>Securetrading_Multishipping_Model</class>
				<resourceModel>securetrading_multishipping_resource</resourceModel>
			</securetrading_multishipping>
			<securetrading_multishipping_resource>
				<class>Securetrading_Multishipping_Model_Resource</class>
				<entities>
					<order_set>
						<table>securetrading_multishipping_order_set</table>
					</order_set>
					<order_set_orders>
						<table>securetrading_multishipping_order_set_orders</table>
					</order_set_orders>
				</entities>
			</securetrading_multishipping_resource>
		</models>
		<events>
			<checkout_submit_all_after>
				<observers>
					<secretrading_multishipping>
						<class>Securetrading_Multishipping_Model_Observer</class>
						<method>onCheckoutSubmitAllAfter</method>
					</secretrading_multishipping>
				</observers>
			</checkout_submit_all_after>
		</events>
	</global>
</config>